#banner_title{
  font-size: 50px;
  color:white;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  margin-top: 100px;
}
ul{
  font-size: 30px;
  color:white;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}
body{
  /* background-image: url('../img/banner/banner.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 50% auto; */
  /* background-color: rebeccapurple; */
  overflow: hidden;
}
.join_now_button{
  background-color: #f39200;
  color: #4c2c06;
  width: 200px;
  height: 30px;
  text-transform: capitalize;
  font-family: 'Fredoka One';
  line-height: 27px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}
