html,body{
  display: flex;
  flex-direction: column;
  height: 100%;
  width:100%

}
header{
  height: 50px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color:white;
  text-align:center
}
.dashboard{
  /* background-color: #214c91; */
  flex:1;
  display: flex;
  flex-direction: row;
}
.panel_left{
  flex:.3;
  border-right: 3px #9bcdfd solid;
  display: flex;
  flex-direction: column;
}
.panel_right{
  flex:.7;
  display: flex;
  flex-direction: column;
}
.widget{
  flex:1;
  border-top: 3px #9bcdfd solid;
}
.widget_top{
  flex:1;
}
.widget_title{
  color:#9bcdfd;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}
.widget_title_left{
  color:#9bcdfd;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;

}
.widget_score_big{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color:white;
  text-align: center;
  margin-top: 10px;
}
.widget_gauges_container{
  display: flex;
  flex-direction: row;
  flex:1;
}
.widget_gauge{
  flex:1;
}
.widget_subtitle{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-align: center;
  margin-top: 7px;
}
.widget_subsubtitle{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-align: center;
  margin-top: 10px;
}
.widget_score_small{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-align: center;
  margin-top: 10px;
}
.widget_guage_img{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
