html,body{
  display: flex;
  flex-direction: column;
  height: 100%;
  width:100%

}
header{
  height: 40px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
  color:white;
  text-align:center
}
.subheader{
  height: 35px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
  color:white;
  text-align:center
}
.highlight_title{
  height: 0px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
  color:white;
  text-align:center;
}

.dashboard{
  /* background-color: #214c91; */
  /* width: 495px;
  height: 452px; */
}
.panel_left{
  flex:.3;
  border-right: 3px #9bcdfd solid;
  display: flex;
  flex-direction: column;
}
.panel_right{
  flex:.7;
  display: flex;
  flex-direction: column;
}
.widget{
  flex:1;
  border-top: 3px #9bcdfd solid;
}
.widget_top{
  flex:1;
}
.widget_title{
  color:#9bcdfd;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}
.widget_title_left{
  color:#9bcdfd;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;

}
.widget_score_big{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color:white;
  text-align: center;
  margin-top: 10px;
}
.widget_gauges_container{
  display: flex;
  flex-direction: row;
  flex:1;
}
.widget_gauge{
  flex:1;
}
.widget_subtitle{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-align: center;
  margin-top: 7px;
}
.widget_subsubtitle{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-align: center;
  margin-top: 10px;
}
.widget_score_small{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-align: center;
  margin-top: 10px;
}
.widget_guage_img{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 40px;
  margin-top: 10px;
}
.widget_more{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: right;
  margin-top: 10px;
  margin-right: 20px;
}
.widget_more a{
  color: #9bcdfd;
  text-decoration: none;
}

/*  */

.circularWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 0px;
  padding-top: 0px;
}
.svgWrapper{
  text-align:center;
  height: 236px;
  flex:1;
}
.circularTitle{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
}
.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  // axis compensation
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.circularLevelsWrapper{
  text-align: center;
  margin-top: 10px;
}
.iconsmall{
  height: 20px;
  width: 20px;
  margin-left: 2px;
}
.points_area{
  display: flex;
  justify-content: space-between;
}
.points_wrapper{
  flex: .85;
  margin-left: 44%;
  display: flex;
  justify-content: space-between;
}
.points_personal{
  color: white;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: #0f3370;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}
.points_community{
  color: white;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
.points_row{
  flex:1;
  color:white;
}
.points_separator{
  text-align: center;
  font-size: 41px;
}
.points_subtitle{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
}
.footer{
  font-size: 27px;
  font-family: 'Montserrat', sans-serif;
  color: #88c9f8;
  text-align: right;
  padding-right: 10px;
  height: 30px;
  line-height: 39px;
  font-weight: bold;
}
.footer a{
  color: #88c9f8;
  text-decoration: none; /* no underline */
}
