body,html{
  margin:0;
}
header{
  height: 50px;
  background-color: #d9d6d6;
  display: flex;
  align-items: center;
}
#logo{
  margin-left: 5px;
}
#svg_wrapper{
  height: 100%;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}
.controls{
  text-align: left;
  margin-left:80px;
  margin-right:80px;
  padding:15px;
  border: 1px solid black;
  padding-top:0px;
}
.label{
  font-weight: bold;
}
.red{
    color: red;
}
.indicator{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.indicator_title{
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  height: 30px;
}
.label.title {
  height: 90px
}
.label.result{
  font-size: 17px;
}
.indicator_img_wrapper{
  height: 40px;
}

.indicator_img{
  width: 30px;
}
.indicators_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.tooltip{
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  padding:5px;
}
.filters_area{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.filters_area div{
  width: 100%;
}
