body,html{
  margin:0;
  font-family: Helvetica Neue;
}
header{
  height: 50px;
  background-color: #d9d6d6;
  display: flex;
  align-items: center;
}
#logo{
  margin-left: 5px;
}
.title{
  margin-left: 10px;
  font-size: 26px;
  vertical-align: middle;
}
#svg_wrapper{
}
#main_flex{
  display: flex;
  padding:50px;
  height: calc( 100% - 50px);
  justify-content: space-between;
}
.controls{
  text-align: center;
  margin-left:80px;
  margin-right:80px;
  padding:15px;
  border: 1px solid black;
  padding-top:0px;
}
.label{
  font-weight: bold;
}
.red{
    color: red;
}
.indicator{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.indicator_title{
  font-size: 18px;
  font-weight: bold;
  height: 30px;
}
.label.title {
  height: 90px
}
.label.result{
  font-size: 17px;
}
.indicator_img_wrapper{
  height: 40px;
}

.indicator_img{
  width: 30px;
}
.indicators_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.tooltip{
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  padding:5px;
}
.filters_area{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.filters_area div{
}
.filter{
  min-height: 100px;
}

#controls_area{
  border: 1px solid black;
  padding: 10px;
  min-width: 353px;
}
.switch{
  display: flex;
  margin-left: 70px;
  justify-content: space-between;
  margin-right: 70px;

}
.switch div{
  margin-right: 20px;
  font-weight: bold;
}
#mark_pathway_btn{
  display: none;
  margin-left:auto;
  margin-right: auto;
}
#mark_pathway_done{
  display: none;
  margin-left:auto;
  margin-right: auto;
}
.sublabel{
  font-size:14px;
}
.options{
  display: none;
}
.options input,select,option {
  margin-left:10px;
}
