#wrapper{
  width: 160px;
  height: 230px;
  background-color: #bbcbea33;
}
header{
  text-align: center;
  font-size: 15px;
  color: #3366cc;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  padding-top: 7px;
  height: 24px;
}
.wrow{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.titleWrapper{
  flex:.6;
}
.wtitle{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
  color: #225fda;
  font-size: 13px;
}
.wscore{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
}
.wimage{
  width:35px;
}
.wbutton{
  color:white;
  font-size: 16px;
  background-color: #2865de;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin-top: 25px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
.wbutton:hover{
  background-color: #3366cc;

}
.see_more{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
  color: #225fda;
  font-size: 15px;
}
