/*POWER Widgets css
  @author: Darien Miranda <d.miranda@eipcm.org>
  Copyright 2018 - EIPCM
  */
.indicators{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.indicator{
  width: 49%;
  float:left;
  height: 400px;
}
.indicatora{
  border-right: 2px solid #0545a4;
  border-bottom: 2px solid #0545a4;

}
.indicatorb{
  border-bottom: 2px solid #0545a4;
}
.indicatorc{
  border-top: 2px solid #0545a4;
}
.indicatord{
  border-top: 2px solid #0545a4;

  border-left: 2px solid #0545a4;
}
.powerContent{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.powerTitle{
  font-family: 'Fredoka One', cursive;
  height: 40px;
  line-height: 20px;
  padding-left: 20px;
  padding-top: 10px;
  color:#0545a4;

}
/*--------------POWER BAR STARTS----------------------------------------------*/
.powerBarWrapper{
  height: 70px;
  width: 66%;
  display: inline-block;
}
.powerBartitle{
  float: left;
  width: calc(34% - 30px);
  font-size: large;
  line-height: 75px;
  margin-right: 30px;
  text-align: right;
  font-family: 'Montserrat', sans-serif;


}
.powerBar{
  height: 47px;
  border-width: 2px;
  border-style: solid;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}
.iconWrapper{
  height: 65px;
  width: 65px;
  float:left;
  border-radius: 15px;
}
.icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
  width: 45px;
  height: 45px;
}
.iconWrapper.political{
  background-color: #ffcccc;
  border: 2px solid #f90606;
}
.iconWrapper.social{
  background-color: #cce5cc;
  border: 2px solid #1aba1a;

}
.iconWrapper.individual{
  background-color: #cce5ff;
  border: 2px solid #168af2;

}
.fill{
  width: 50%;
  height: 100%;
}
.pwrapper{
  width: calc(100% - 79px);
  float:left;
  margin-top:9px;
  margin-left:-2px;
}
.powerBar{
  overflow: hidden;
}
.powerbar.political{
  border-color: #f90606;
}
.powerbar.social{
  border-color: #1aba1a;
}
.powerbar.individual{
  border-color: #168af2;
}
.fill.political{
  background-color: #ffcccc;
}
.fill.social{
  background-color: #cce5cc;
}
.fill.individual{
  background-color: #cce5ff;
}
.powerRow{
  float: left;
  width: 100%;
}
/*--------------POWER BAR ENDS------------------------------------------------*/
/*--------------POWER WARDENLEVEL STARTS-------------------------------------------*/
.warden{
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

}
.badge{
  height: 68px;
  width: 68px;
  border-radius: 10px;
  border: 2px solid #88b7b2;


}
.badge img{
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top:8px;

}
.earned{
  background-color:#318c84 ;
  border: 2px solid #0a5149;


}
#warden_bar_1{
  background-color: white;
  flex:1;
  height: 50px;
  border-top: 2px solid #0a5149;
  border-bottom: 2px solid #0a5149;
  overflow: hidden;
  margin-top: 10px;
}
#warden_bar_2{
  background-color: white;
  flex:1;
  height: 50px;
  border-top: 2px solid #0a5149;
  border-bottom: 2px solid #0a5149;
  overflow: hidden;
  margin-top: 10px;
}
#warden_bar1_fill{
  height: 100%;
  width: 100%;
  background-color: #318c84;
}
#warden_bar2_fill{
  height: 100%;
  width: 100%;
  background-color: #318c84;
}
.level_lbl{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top:13px;

}
/*--------------POWER WARDENLEVEL ENDS---------------------------------------------*/
/*--------------POWER CIRCULAR STARTS-----------------------------------------*/
.prep{
  height: 100px;
  width: 100px;
  background-color: #318c84;
  border-radius: 50%;
}
.circle {
width: 11em;
height: 11em;
border-radius: 100%;
background: linear-gradient(360deg, #FFFFFF 100%, transparent 42.34%) 0 0;
background-repeat: no-repeat;
background-size: 100% 100%;
}

.pie {
width: 11em;
height: 11em;
border-radius: 100%;
background: linear-gradient(-80deg, #1BB90D 50%, transparent 40%) 0 0;
background-repeat: no-repeat;
background-size: 100% 55%;
position: relative;
margin-top: -176px;
border: 1px solid #808D1E;
}
/*--------------POWER CIRCULAR ENDS-------------------------------------------*/
.progress-ring {

}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  // axis compensation
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

input {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 80px;
}
/*--------------POWER SPIDER START--------------------------------------------*/
#spider{
margin-left: auto;margin-right: auto;display: block;
}

/*--------------POWER SPIDER ENDS---------------------------------------------*/
