/*POWER Widgets css
  @author: Darien Miranda <d.miranda@eipcm.org>
  Copyright 2018 - EIPCM
  */
html,body{
  margin:0;
  padding:0;
}
.indicators{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.indicator{
  width: 100%;
  display: block;
  height: auto;
}
.indicatora{

}
.indicatorb{
}
.indicatorc{
}
.indicatord{
  height: 500px;
}
.powerContent{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.powerTitle{
  font-family: 'Fredoka One', cursive;
  height: 40px;
  line-height: 20px;
  padding-top: 10px;
  color:#0545a4;
  font-size: 24px;

}
/*--------------POWER BAR STARTS----------------------------------------------*/
.powerBarWrapper{
  height: 90px;
  width: 66%;
  display: inline-block;
}
.powerBartitle{
  font-weight: bold;
  color: #0545a4;
  font-size: large;
  line-height: 22px;
  margin-right: 30px;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  flex: 1;
  padding-top: 28px;


}
.powerBarCommunityScore{
  font-weight: bold;
  color: #0545a4;
  font-size: large;
  line-height: 22px;
  font-family: 'Montserrat', sans-serif;
  flex: 1;
  padding-top: 28px;

}
.pi_points{
  display: flex;
}
.pi_separator{
  flex: 1;
  text-align: right;
  padding-right: 10px;
}
.pi_points_amount{
  flex: .6;
}
.powerBartitle_rtl{
  flex: .2;

}
.powerBar{
  height: 47px;
  border-width: 2px;
  border-style: solid;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}
.powerBar_rtl{
  height: 47px;
  border-width: 2px;
  border-style: solid;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  margin-right: -2px;
}
.iconWrapper{
  height: 65px;
  width: 65px;
  float:left;
  border-radius: 15px;
}
.icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
  width: 45px;
  height: 45px;
}
.iconWrapper.political{
  background-color: #ffcccc;
  border: 2px solid #f90606;
}
.iconWrapper.social{
  background-color: #cce5cc;
  border: 2px solid #1aba1a;

}
.iconWrapper.individual{
  background-color: #cce5ff;
  border: 2px solid #168af2;

}
.powerBarLevelsWrapper{
  padding-left: 70px;
  height: 15px;
  padding-right: 85px;
}
.iconsmall{
  height: 15px;
  width: 15px;
  margin-left: 2px;
}
.fill{
  width: 50%;
  height: 100%;
}
.pwrapper{
  width: calc(100% - 79px);
  float:left;
  margin-top:9px;
  margin-left:-2px;
}
.powerBar{
  overflow: hidden;
}
.powerScaleWrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  height:.1px;
}
.powerScale{
  height: 10px;margin-top:37px;width: 2px;
}
.powerScale.political{
  background-color: #f90606;
}
.powerScale.social{
  background-color: #1aba1a;
}
.powerScale.individual{
  background-color: #168af2;
}

.powerBar.political{
  border-color: #f90606;
}
.powerBar.social{
  border-color: #1aba1a;
}
.powerBar.individual{
  border-color: #168af2;
}
.fill.political{
  background-color: #ffcccc;
}
.fill.social{
  background-color: #cce5cc;
}
.fill.individual{
  background-color: #cce5ff;
}
.powerRow{
  width: 100%;
  display: flex;
}
/*--------------POWER BAR ENDS------------------------------------------------*/
/*--------------POWER WARDENLEVEL STARTS-------------------------------------------*/
.warden{
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

}
.wardenContent{
  float:left;width:50%
}
.badge{
  height: 68px;
  width: 68px;
  border-radius: 10px;
  border: 2px solid  #0a5149;
}
#warden_bar_0{
  background-color: white;
  flex: .2;
  height: 50px;
  border-top: 2px solid #0a5149;
  border-bottom: 2px solid #0a5149;
  overflow: hidden;
  margin-top: 10px;
  border-left: 2px solid #0a5149;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.warden_bar_0_rtl{
  background-color: white;
  flex: .2;
  height: 50px;
  border-top: 2px solid #0a5149;
  border-bottom: 2px solid #0a5149;
  overflow: hidden;
  margin-top: 10px;
  border-left: 2px solid #0a5149;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
#warden_bar_1{
  background-color: white;
  flex:1;
  height: 50px;
  border-top: 2px solid #0a5149;
  border-bottom: 2px solid #0a5149;
  overflow: hidden;
  margin-top: 10px;
}
#warden_bar_2{
  background-color: white;
  flex:1;
  height: 50px;
  border-top: 2px solid #0a5149;
  border-bottom: 2px solid #0a5149;
  overflow: hidden;
  margin-top: 10px;
}
@supports (-webkit-overflow-scrolling: touch) {
  .powerMessage{
    font-size: 1em !important;
  }
  .powerTitle{
    font-size: .8em !important;

  }
  .wardenContent{
    width: 100%;
    float:none;
  }
  .badge{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    border: 2px solid #88b7b2;
  }
  #warden_bar_1{
    background-color: white;
    flex:1;
    height: 15px;
    border-top: 2px solid #0a5149;
    border-bottom: 2px solid #0a5149;
    overflow: hidden;
    margin-top: 10px;
  }
  #warden_bar_2{
    background-color: white;
    flex:1;
    height: 15px;
    border-top: 2px solid #0a5149;
    border-bottom: 2px solid #0a5149;
    overflow: hidden;
    margin-top: 10px;
  }
  .level_lbl{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top:13px;
    font-size: .7em !important;

  }
}

@media only screen and (max-device-width: 800px) {
  .powerMessage{
    font-size: 14px !important;
  }
  #links{
    display: none !important;
  }
  .powerTitle{
    font-size: 16px !important;

  }
  .wardenContent{
    width: 100%;
    float:none;
  }
  .badge{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: 2px solid #88b7b2;
  }
  #warden_bar_0{
    background-color: white;
    flex: .2;
    height: 30px;
    border-top: 2px solid #0a5149;
    border-bottom: 2px solid #0a5149;
    overflow: hidden;
    margin-top: 10px;
    border-left: 2px solid #0a5149;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }
  #warden_bar_1{
    background-color: white;
    flex:1;
    height: 30px;
    border-top: 2px solid #0a5149;
    border-bottom: 2px solid #0a5149;
    overflow: hidden;
    margin-top: 10px;
  }
  #warden_bar_2{
    background-color: white;
    flex:1;
    height: 30px;
    border-top: 2px solid #0a5149;
    border-bottom: 2px solid #0a5149;
    overflow: hidden;
    margin-top: 10px;
  }
  .level_lbl{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top:13px;
    font-size: .7em !important;

  }
}
.badge img{
  height: 80%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top:8px;

}
.earned{
  background-color:#318c84 ;
  border: 2px solid #0a5149;


}
#warden_bar0_fill{
  height: 100%;
  width: 100%;
  background-color: #318c84;
}
#warden_bar1_fill{
  height: 100%;
  width: 100%;
  background-color: #318c84;
}
#warden_bar2_fill{
  height: 100%;
  width: 100%;
  background-color: #318c84;
}
.level_lbl{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top:13px;
  font-size: .75em;

}
/*--------------POWER WARDENLEVEL ENDS---------------------------------------------*/
/*--------------POWER CIRCULAR STARTS-----------------------------------------*/
.svgWrapper{
  width: 210px;
}
.prep{
  height: 100px;
  width: 100px;
  background-color: #318c84;
  border-radius: 50%;
}
.circularTitle{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #0545a4;
  font-weight: bold;
  margin-bottom: 10px;
}
.circularLevelsWrapper{
  text-align: center;
  margin-top: 10px;
}
.circle {
width: 11em;
height: 11em;
border-radius: 100%;
background: linear-gradient(360deg, #FFFFFF 100%, transparent 42.34%) 0 0;
background-repeat: no-repeat;
background-size: 100% 100%;
}

.pie {
width: 11em;
height: 11em;
border-radius: 100%;
background: linear-gradient(-80deg, #1BB90D 50%, transparent 40%) 0 0;
background-repeat: no-repeat;
background-size: 100% 55%;
position: relative;
margin-top: -176px;
border: 1px solid #808D1E;
}
.circularWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10px;
  padding-top: 10px;
}
@supports (-webkit-overflow-scrolling: touch) {
  .circularWrapper{
    display: block;
  }
  .svgWrapper{
    width: 100%;
    text-align:center;
  }
  .indicatora{
    height: 760px;
  }
  #links{
    display: none !important;
  }
}


@media only screen and (max-device-width: 800px) {
  .circularWrapper{
    display: block;
  }
  .svgWrapper{
    width: 100%;
    text-align:center;
  }
  .indicatora{
    height: 800px;
  }

}
/*--------------POWER CIRCULAR ENDS-------------------------------------------*/
.progress-ring {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  // axis compensation
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}


/*--------------POWER SPIDER START--------------------------------------------*/
#spider{
margin-left: auto;margin-right: auto;display: block;
}

/*--------------POWER SPIDER ENDS---------------------------------------------*/
/*--------------BOOST FACTOR START--------------------------------------------*/
.boost_factor_wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 140px;
}

.boost_factor{
  height: 80px;
  width: 80px;
  font-size: 2em;
  line-height: 3;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  color: gray;
  margin-top: 16px;
}
.boost_factor_earned {
  height: 74px;
  width: 99px;
  font-size: 2em;
  line-height: 2.5;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  color: #0a332f;
  margin-top: 16px;
  background-color: #318c84;
  border-radius: 59%;
  border-color: #20726a;
  border: 5px solid #20726a;
}

/*--------------BOOST FACTOR ENDS---------------------------------------------*/

.onoffswitch {
    position: relative; width: 50px; margin-left: 30px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 25px; padding: 0; line-height: 36px;
    border: 2px solid #E3E3E3; border-radius: 36px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 36px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 22px;
    border: 2px solid #E3E3E3; border-radius: 36px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #468EEB;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #468EEB;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}
.powerMessage{
  background-color:#36c;
  text-align: center;
  width: 100%;
  height: 7px;
  font-family: 'Fredoka One', cursive;
  font-size: 1.0em;
  line-height: 30px;
  text-align: right;


}
.powerMessageText{
  color:#36c;
  text-align: right;
  font-family: 'Fredoka One', cursive;

}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #09244c;
  float:right;
  margin-top: 10px;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #09244c;
    float:right;
}
.arrow-down:hover{
  cursor: pointer;
}
.arrow-up:hover{
  cursor: pointer;
}
a {
  color: white;
  text-decoration: underline; /* no underline */

}
/* POPUP */
.powerPopup{
  position: fixed;
  top:0;
  width: 100%;
  height: 100%;
  background-color: #09244c99;
  z-index: 99;
  display: none;
  align-items: center;
  justify-content: center;
  overflow-x: none;
  overflow-y: auto;
}
.powerPopupContent{
  width: 80%;
  background-color: #09244c;
  color: white;
  padding: 1%;
  max-height: 80%;
  overflow-x: none;
  overflow-y: auto;
}
.powerPopupContent p{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
.powerCloseButtonWrapper{
  text-align: right;
  width: 100%;
  cursor: pointer;
}
.infoButton{
  cursor: pointer;
  margin-left: 5px;
}
.toggleWrapper{
  display: flex;
  align-items: center;
  justify-content: left;
}
.toggleWrapper > * {
  margin-right: 10px;
}
.flexContent{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.powerSeparator{
  width: 2px;
  height: 230px;
  background-color: #0a5149;
  margin-top: 16px;
  border-radius: 11px;
  margin-bottom: 16px;
}
.points_flex{
  display: flex;
  flex-direction: "column";
  height: 60px;
  margin-top: 10px;
}
.points_row{
  flex:1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.points_separator{
  flex:.2;
}
.points_left{
  background-color: #6d0949;
  border-radius: 5px;
  color:white;
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.points_right{
  color: #6d0949;
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.points_separator{
  color: #6d0949;
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.community_label{
  color: #6d0949;
  text-align: center;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 6px;
}
.kh_bg{
  background-color: #0545a4;
}
.kh_txt{
  color: #0545a4;
}
.ra_bg{
  background-color: #493f8d;
}
.ra_txt{
  color: #493f8d;
}
